<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<form id="sort_form" >
    {% csrf_token %}
фильтрация по имени
    <input id="filter" name="filter">

    сортировка по дате:
<select id="sort" name="sort" >
    <option selected="selected" value="id"></option>
    <option value="-date">Дата спадание</option>
    <option value="date" >Дата возрастание</option>
    <option value="-title">Имя спадание</option>
    <option value="title" >Имя возрастание</option>
</select>
</form>
<table id="result" >
{% for elem in festival_list %}
    <tr>
    <td>
{{ elem.title }}
        </td>
        <td>
        {{ elem.country }}
        </td>
        <td>
{{ elem.date }}
        </td>
    </tr>
{% endfor %}
</table>
<script>

$('#sort').change(function(){
    console.log($(this).val())
    $.post('/festivals/', $('#sort_form').serialize(), function(data){
        console.log(data)
        $('#result').empty()
        for( i in data){
            console.log(data[i]['fields']);
            $('#result').append('<tr><td>'+data[i]['fields']['title']+'</td><td>'+data[i]['fields']['country']+'</td><td>'+data[i]['fields']['date']+'</td></tr>');

        }
    } )
})
$('#filter').change(function(){
    console.log($(this).val())
    $.post('/festivals/', $('#sort_form').serialize(), function(data){
        $('#result').empty()
        for( i in data){


            $('#result').append('<tr><td>'+data[i]['fields']['title']+'</td><td>'+data[i]['fields']['country']+'</td><td>'+data[i]['fields']['date']+'</td></tr>');

        }
    })
})
</script>
